.background-pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.box-model{
    position: fixed;
    top: 3vw;
    left: 20vw;
    width: 45vw;
    background: white;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.panel-body {
    padding: 60px 4% 5% 7%;
}

.box {
    padding:2%;
    border:1px #ddd solid;
    cursor:pointer;
}


.remove-decoration {
    text-decoration:none !important;
    color:#333;
    font-size:12px;
}
